body {
  margin-top: 100px;
}

#mainNav {
  background-color: #212529 !important;
}
@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
}
form.book {
  margin-top: 200px;
  background-color: #e3eaf1;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.carousel-caption {
  background:#ffa600;
  padding: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: 0.8;
  color: #212529;
}

ol {
  margin-bottom: 0;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #fff;
}

.carousel-item {
  height: 100vh;
  width: 100%;
}
a {
  color: #ffa600;
}

a:hover {
  color: #ffa600;
}
#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #ffa600;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}
.dropdown-item:hover{
  color: #fed136 !important;
}
.nav-item .nav-link.booknow {
  background-color: #ffa600;
  color: #fff !important;
  border-radius: 15px 50px;
  box-shadow: 0 0 10px #eee;
  transition: 0.3s;
  border: none;
  padding: 7px  !important;
}
.nav-item .nav-link.booknow:hover {

  background-color:#fed136 !important;
  color:#fff !important;
}
.text-primary {
  color: #fed136 !important;
}
.page-section {
  padding: 100px 0;
}

.text-center .col-md-4 img {
  width: 85%;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 6px 8px green;
}

.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}
h2 {
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h4 {
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffa600;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
  .termsandconditions h2 {
    font-size: 1.75em;
    line-height: 1.5em;
  }
  .termsandconditions h3 {
    font-size: 1.35em;
    line-height: 1.5em;
    color: #474747;
  }

  .termsandconditions p {
    color: #858585;
  }
  section.termsandconditions {
    text-align: left;
    padding: 0;
  }
}
section#contact {
  background-color: #212529;
  background-image: url(/img/world_map_PNG11.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
section#contact .section-heading {
  color: #fff;
}
.contactu {
  color: #fff  !important;
}
.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
p {
  line-height: 1.75;
}
section#contact .form-group textarea.form-control {
  height: 248px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #fed136 !important;
  border-color: #fed136 !important;
  color: #fff;
}
.btn-primary {
  background-color: #ffa600 !important;
  border-color: #ffa600 !important;
}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.address h3 {
  color: #fff;
}
.address p {
  color: #fff;
}
section.links {
  padding: 0;
}
section.address {
  width: 50%;
  padding: 0;
}
#location {
  background-color: #ffa600;
}
h2.location {
  color: #fff;
}
section.address {
  width: 50%;
  padding: 0;
  text-align: center;
}
section.links {
  padding: 0;
}
.footer {
  padding: 25px 0;
  text-align: center;
}

.footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  #mainNav ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: #ffa600;
  }
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}
@media (min-width: 992px) {
  .text-center .col-md-4 img {
    width: 85%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 6px 8px #888;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
@media (min-width: 992px) {
  .text-center .col-md-4 .img-fluid:hover {
    transform: translateY(-20);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0, 3);
  }
}
@media (min-width: 992px) {
  .logo {
    width: 120px;
    height: 120px;
  }
}
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.showbox {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.showbox:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.list-inline-item.instagram {
  display: none;
}
.slider1 {
  border-radius: 50%;
  color: #fff;
  text-shadow: 1px 2px 4px #000000;
  background-color:#E9360B;
}
.slider2 {
  border-radius: 40px 10px;
background-color: #3A0B01;
color: #fff;
  text-shadow: 1px 2px 4px #000000;
}
.slider3 {
  background-color: #21013A;
  border-radius: 15px 50px 30px;
  color: #fff;
  text-shadow: 1px 2px 4px #000000;
}
.error-msg {
  color: #ffa600;
}
.react-datepicker__header  {
  background-color: #ffa600;
  border-bottom: 1px solid #f0f0f0;

}
.react-datepicker {
  border: 1px solid #f0f0f0;
}
.react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover,
 .react-datepicker__quarter-text--keyboard-selected:hover {
  background-color: #fed136; 
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, 
.react-datepicker__quarter-text--keyboard-selected {
  background-color: #ffa600;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  color: #fff;
}
.customDatePickerWidth, 
    .customDatePickerWidth > div.react-datepicker-wrapper, 
    .customDatePickerWidth > div > div.react-datepicker__input-container
    .customDatePickerWidth > div > div.react-datepicker__input-container input {
       width: 100%;
       height: 100%;
    }
    .react-datepicker__input-container  {
        width: inherit;
        height: inherit;
      }
      .react-datepicker__input-container input {
        width: inherit;
        height: 100%;
      }

      .react-datepicker-wrapper {
        width: 100%;
      }
      .datepicker {
        display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }

      hr.cnctus {
        width: 18%;
        border-top: 1px solid #fff;
      }
      hr.tnc {
        width: 34%;
      }
      hr.abtus {
        width: 17%;
      }
      hr.fpc {
        width: 40%;
      }
      hr.lctn {
        width: 25%;
        border-top: 1px solid #fff;
      }

      .panditG img {
        
        border: 5px solid #e9ecef (0, 0%, 40%);
        border-radius: 25px;
        padding: 5px;
        outline: 5px solid #e9ecef (0, 0%, 60%);
        box-shadow:
            0 0 0 10px #e9ecef (0, 0%, 50%),
            0 0 0 15px #e9ecef (0, 0%, 50%);
        
        border-radius: 5px ;  
        width: 65% !important;   
        
      }
      .effect1{
        -webkit-box-shadow: 0 10px 6px -6px #777;
           -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
                padding: 10px;
    }

    .team .member {
      text-align: center;
      margin-bottom: 80px;
      position: relative;
  }
  .team .member .pic {
    border-radius: 4px;
    overflow: hidden;
}
.team .member .member-info {
  position: absolute;
  bottom: -48px;
  left: 20px;
  right: 20px;
  background: linear-gradient(#6c757d, #212529);
  border-radius: 4px;
  color: #fff;
  text-shadow: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.team {
  background: #fff;
  padding: 60px 0 30px 0;
}
.team .member .social {
  margin-top: 15px;}
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
}
.member-info h5 {
 
  font: 1.1em sans-serif;
}
.member-info span {
  font-size: 14px;
}
.panditG h5 {
  font-style: italic !important;
  font-family: "Gill Sans", sans-serif;
  font-weight: 800;
}
.team .member .pic img {
  border-radius: 10px !important;
}
.member_role {
  font-style: italic !important;
  
}
.background_strip {
  background-color: #fff;
  opacity: .8;
  border-radius: 15px;
 
}
.background_strip h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #000000 !important;
}
